<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<connectionStrings>
  <add name="conStr" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\GD1-20\source\repos\TourApp\TourApp\Membership.mdf;Integrated Security=True"/>
</connectionStrings>
  <appSettings>
    <add key ="lang" />
  </appSettings>
</configuration>